container-menu {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.container-menu.flex-menu {
    display: flex;
    justify-content: center;
}
.btn-astro.col-2{  
    display: flex;
    justify-content: flex-end;
}
flex-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menufixo {
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0; 
    left: 0;
    transition: .5s;
    z-index: 10;
}

menufixo img {
    width: 200px;
}   

menufixo.rolagem {
    background-color: #fff;
    padding: 25px 4%;
}

menufixo #menufixo.rolagem {
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0 10px #000;
    background: rgb(0, 0, 0, 0.7);
}

menufixo.rolagem img {
    filter: invert(100%);
}

menufixo.rolagem a
{
    color: #000 !important;
    font-size: 29px !important;
}
menufixo.rolagem i {
    font-size: 49px;
    color: #000;
    align-items: center;
}

menufixo i {
    font-size: 49px;
    color: #fff;
    align-items: center;
}

menufixo ul {
    list-style-type: none;
}

menufixo ul li {
    display: inline-block;
    margin: 0 40px;
}

menufixo ul li a {
    color: #fff;
    font-size: 29px !important;
    text-decoration: none;
}
